<div id="application-container">
<section id="header">
  <header>Header</header>
</section>
<section id="content">
  <LinkTo @route="about">About</LinkTo>
  <LinkTo @route="contact">Contact</LinkTo>
  {{outlet}}
</section>
<section id="footer">
  footer
</section>
</div>
